@charset "utf-8";
/* CSS Document */
*{ margin:0px; padding:0px; list-style:none; text-decoration:none;}
.content{ width:930px; margin:0 auto;}
.title{ height:50px; line-height:50px; font-size:24px; background-color:#FFF; border-bottom:1px solid #f2f2f2;}
.title .icon{ width:26px; height:26px; background-image:url(../img/biaoti.png); background-position:50% 50%; float:left; background-size:200px 200px; margin:12px 5px 0 20px; }
.titleInput{height:50px; line-height:50px; font-size:24px; background-color:#FFF; margin-bottom:20px;}
.titleInput input{ width:100%; height:100%; border:none; line-height:50px; font-size:18px; text-indent:20px;}
.noticeImg .img{ height:50px; line-height:50px; font-size:24px; background-color:#FFF; padding-bottom:10px;}
.noticeImg .img .icon{ width:26px; height:26px;  background-position:50% 50%; float:left; background-size:200px 200px; margin:12px 5px 0 20px;background-image:url(../img/immmmm.png);} 
.noticeImg .view{ background:#FFF; padding-bottom:40px;}
.noticeImg .view .viewimg{ background-color:#D3D3D3; border-radius:10px; width:160px; height:160px; margin-left:20px; position:relative;}
.noticeImg .view .viewimg .addIcon{ width:45px; height:45px; background-image:url(../img/%E5%BE%AE%E4%BF%A1%E5%9B%BE%E7%89%87_20180314143537.png); position:absolute; top:33%; left:36%;}
.foot {  height:100px; line-height:100px; text-align:right;}
.foot input{ background-color:#1196DB;font-size:24px;margin-right:20px; color:#fff; padding:10px 20px; border-radius:100px;}
.clickColor{  background-color:#1196DB;}
#preview{ width:160px; height:160px; float:left;}
.noticeImg .view .viewimg  .file{ background-image:url(../img/%E5%BE%AE%E4%BF%A1%E5%9B%BE%E7%89%87_20180314143537.png); width:160px; height:160px;opacity:0;}
.noticeImg .view .viewimg .del{ width:20px; height:20px; background:#000; background:url(../img/%E5%BE%AE%E4%BF%A1%E5%9B%BE%E7%89%87_20180314163812.png); background-size:20px 20px; position:absolute; right:0; z-index:999}